body{
    background: gray;
    height: 500px;
    overflow-x: hidden;
}
*{
    color: wheat;
}
/* .row{
    justify-content: center;
    display: flex;
    
}
.main_btn{
    position: absolute;
    top: 200px;
    left: 44%;
    display: flex;
    justify-content: center;
    transition: all .3s;
    
}

.left{
    font-size: 30px;
    padding: 215px 20px 0px 0px ;
}
.right{
    font-size: 30px;
    padding: 215px 0px 0px 20px ;
} */
button{
    font-size: 50px;
}
.data{
    row-gap: 20px;
    display: flex;
    height: 500px;
    flex-direction: column;
}
.row>p{
    font-size: 30px;
}

input{
    font-size: 30px;
}
.error_span{
    font-weight: bold;
    display: flexbox;
    color: red;
    font-size: 20px;
    
    -webkit-text-stroke: 1px black;
    
}
.send{
    color: black;
}